@{
    ViewBag.Title = "About";
}
<head>
    <link rel="stylesheet" type="text/css" href="/Content/about.css"/>
</head>
<div>
    <h2 class="title_1"><b>What is our goal?</b></h2>
    <p class="goal"><em> The main goal of this web application is to connect people`s opinions <br /> about a specific object.
            <br />A user can instantly find an opinion(s) without losing time to search<br /> about it by reading other unnecessary opinions.
    </em></p>

</div>
<div>
    <h2 class="title_2"><b>How it started?</b></h2>
    <p class="start"><em>In 2017 the student, Grigoris Kokozides, from university of Nicosia started to work on this project <br />
    for his final year project.  His supervisor is Dr.Ioannis Katakis that helped him on this project.</em></p>
</div>
