@{
    ViewBag.Title = "Contact";
}

<address>
    University of Nicosia<br />
    Makedonitissa, Nicosia<br />
    <abbr title="Phone">P:</abbr>
    99137836
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kokozides.g@outlook.com">kokozides.g@outlook.com</a><br />
</address>