@{
    ViewBag.Title = "Explorer";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/Content/explorer.css"/>
</head>
<body>
    <h2>Click the button below: </h2>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a href="~/Explorer/ExplorerView" class="btn btn-sm animated-button explorer">Explorer</a>
        </div>
    </div>
</body>
</html>
