@{
    ViewBag.Title = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <title>Home Page</title>
</head>
<style>
    
</style>
<body>
    <div>
        <footer>
            <p>&copy; @DateTime.Now.Year - www.reviewexplorer.com. All rights reserved</p>
        </footer>
        <p class="didaxto-label">Powered By Didaxto</p>
    </div>
</body>